/* .height-50{
    height: 50px;
}
.height-150{
    height: 150px;
}
.height-200{
    height: 200px;
}

.images{
    width: 100%;
}
.input-area{
    height: 800px;
}
.song-box{
    padding-top: 5px;
}
.journal-form{
    padding: 10px 10px;
}
.blank-row{
    height: 100px;
} */
