.song-instrument {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5715;
}
.song-composer {
    color: rgba(0, 0, 0, 0.65);
}

#song-select-button {
    margin-right: 2%;
    line-height: revert;
}

#song-select-button:hover {
    color: #ecb025;
    border-color: #ecb025;
}

#description-popup {
    font-size: medium;
    color: rgba(0, 0, 0, 0.65);
    margin-left: 10px
}

.song-card {
    text-align: left;
}

.song-play-button {
    margin: 3px;
    padding: 6px 12px;
    border: 0;
    border-radius: 3px;
    outline: 0;
}

.song-play-time {
    margin-left: 1%;
    margin-right: 1%;
}

.slider {
    width :65%;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 70%;
      -webkit-appearance: none;
      background-color: #d6d6d6e0;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      /* -webkit-appearance: none; */
      /* color: #000000; */
      /* #e2cf7c */
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 12px;
      cursor: grab;
      background: #e2cf7c;
      /* box-shadow: -80px 0 0 80px #e2cf7c; */
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color:  #d6d6d6e0; 
}
input[type="range"]::-moz-range-track {  
  background-color:  #d6d6d6e0;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #d6d6d6e0; 
}
input[type="range"]::-ms-fill-upper {  
  background-color:  #d6d6d6e0;
}

.pagination-bar {
    margin-top: 3%;
}

#pagination-bar:hover {
    color: #ecb025;
    border-color: #ecb025;
}

button:hover {
    color: #ecb025;
    border-color: #ecb025; 
}