#nav-bar-item {
    display: flex;
    float: right;
    font-size: large;
    font-weight: 700;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: #ecb025;
    border-bottom: 2px solid #ecb025;
}

#nav-bar-item:hover, #nav-bar-item:active, 
#link:hover, #link:active, #link::after {
    color: #ecb025;
    border-color: #ecb025;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
    color: #ecb025;
    border-color: #ecb025;
}

#side-bar {
    background-color: #F4D473;
    border-right: 10px solid white;
}

.footer {
    height: 200px;
    line-height: 200px;
    width: 100%;
    background-color: #F0BB6D;
    border: 8px solid white;
    font-size: x-large;
    text-align: center;
}

